<h1>Rock Paper Scissors</h1>
<h2>Enter rock, paper, or scissors:</h2>
<form action='/outcome'>
  <div class="form-group">
    <label for="your_move">Your move:</label>
    <input id="your_move" name="your_move" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="opponent_move">Opponent's move:</label>
    <input id="opponent_move" name="opponent_move" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Shoot!</button>
</form>
