<h1>Rock Paper Scissors</h1>
<h2>Select your game type:</h2>
<br>
<div class ="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-user" aria-hidden="true"><a href = "/one_player" role="button"> One Player</a></span>
</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-asterisk" aria-hidden="true"><a href = "/form" role="button"> Two Player</a></span>
</button>

  </div>
</div>
