<h2>Enter rock, paper, or scissors:</h2>
<form action='/outcome'>
  <div class="form-group">
    <label for="your_move">Your move:</label>
    <input id="your_move" name="your_move" class="form-control" type="text">
  </div>
    <input id="opponent_move" name="opponent_move" type="hidden" value="computer">
  <button type="submit" class="btn">Shoot!</button>
</form>
